body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    text-align: center;

}

p {
    font-family: 'Open Sans', sans-serif;
    color: #828282;
    text-align: center;
} 

.preto {
    color: #3F3D56;
    font-weight: 700;
    font-size: 15px;
}

.rosa {
    color: #EE24FF;
}

.main {
    width: 600px;
    margin: 64px auto 65px
    
}

.img {
    width: 350px;
    height: 238px;
    margin-bottom: 32px;
   
}


a {
    margin-top: 150px;
    text-decoration: none;
    color: #3F3D56;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;

}

#line {
    width: 391px;
    height: 0;
    margin: 0 auto 8px;
    border: 1px solid #ECEFF2;
}

.foot a + a {
    margin-left: 42px;
   

}

.img2 {
position: absolute;
  width: 100%;
  bottom: 0px;
  right: 0px;
    
    
    
}